@model LibraryManagement.Models.Branch.BranchDetailModel

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h3 class="text-muted">Branch Information</h3>
    </div>

    <div class="jumbotron">
        <div class="row branchImgDiv">
            <img src="@Model.ImageUrl" alt="Not found!" class="img-responsive branchImg" />
        </div>
        <div class="row branchInfo">
            <div class="col-md-8">
                <h4>@Model.Name Branch</h4>
                <div class="branchContact">
                    <div id="branchAddress">Address: @Model.Address</div>
                    <div id="branchTel">Telephone: @Model.Telephone</div>
                </div>
                <div id="branchDescription">
                    <ul>
                        @foreach (var day in @Model.HoursOpen)
                        {
                            <li>@day</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <table>

                    <tr>
                        <td class="itemLabel">Date Opended: </td>
                        <td class="itemValue">@Model.OpenDate</td>
                    </tr>

                    <tr>
                        <td class="itemLabel">Number of Patrons: </td>
                        <td class="itemValue">@Model.NumberOfPatrons </td>
                    </tr>

                    <tr>
                        <td class="itemLabel">Number of Assets: </td>
                        <td class="itemValue">@Model.NumberOfAssets </td>
                    </tr>

                    <tr>
                        <td class="itemLabel">Value of Assets: </td>
                        <td class="itemValue">@Model.TotalAssetValue </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

